body {
  background: #dcd6f7;
}

.weather-page {
  font-family: "Roboto", sans-serif;

  font-style: normal;
  background-color: #f4eeff;
  max-width: 600px;
  margin: 45px auto;
  border-radius: 16px;
  padding: 30px;
  box-shadow: 7px 6px 20px rgba(67, 104, 157, 0.2);
}

header {
  border-bottom: 1px solid #d5e9f1d8;
  padding-bottom: 25px;
}
h1 {
  color: #3f4db6;
}
footer {
  padding: 15px;
  text-align: center;
  font-size: 15px;
  color: #8699a1;
  border-top: 1px solid #d5e9f1d8;
}

.search-input-box {
  padding: 15px;
  width: 80%;
  border-radius: 4px;
  border: transparent;
  font-size: medium;
}

.search-button-submit {
  color: white;
  background-color: #a6b1e1;
  padding: 15px 22px;
  border: transparent;
  border-radius: 8px;
  margin-left: 5px;
  font-size: 14px;
  font-weight: 700;
}

.humidity-value {
  color: #3f4db6;
  font-weight: 700;
}

.wind-value {
  color: #3f4db6;
  font-weight: 700;
}
a {
  color: #3f4db6;
}

.details {
  color: #8699a1;
  padding-bottom: 14px;
}

.full-details {
  display: flex;
  justify-content: space-between;
}

.emoji {
  font-size: 55px;
}

.temperature-value {
  font-size: 45px;
}
